.Form{
    margin: 30px auto 10px;
    text-align: center;
  }
  .FormBtn input{
    height: 0;
    width: 0;
    opacity: 0;
  }
  .FormBtn{
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid var(--primary);
    border-radius: 25%;
    margin: 10px auto;
    line-height: 30px;
    color: var(--primary);
    font-weight: bold;
    font-size: 24px;
  }
  .FormBtn:hover{
    transition: 0.5s;
    background: var(--primary);
    color: var(--secondary);
  }
  .ErrorText{
    color: var(--error);
  }