@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

:root{
  --primary: rgb(230, 230, 230);
  --secondary: #1a1a1a;;
  --error: #ff5050;
}

body{
  font-family: "Noto Serif";
  color: var(--primary);
  background-color: #2c394f;
}
.App{
  max-width: 960px;
  margin: 0 auto;
}